body {
   background-color: #c23e09;
    background-image: url("/img/DadLister.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;

}


h1 {
    color: white;
    font-size: 40px;

}

h2 {
    color: lightgray;
}

p {
    color: white;
}

a {
    color: #000031;
}

.head-container {

    margin-top: 400px;
    color: white;

}
.login-container {
    margin-top: 100px;
}

.register-container {
    margin-top: 200px;
}


.username {
    color: white;
}

.email {
    color: white;
}

.password{
    color: white;
}

.confirm {
    color: white;
}

.title {
    color: white;
}

.description {
     color: white;
 }

.category {
    color: white;
}

select#category {
    color: #000031;
    margin-left: 5px;
}

.btn{
    position: absolute;
    background: gray;
    color: white;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.52) 2px 2px 2px 2px;

}

.register-btn {
    display: block;
    position: fixed;
    bottom: 250px;
    left: 950px;

}

.login-btn {
    position: fixed;
    display: block;
    bottom: 190px;
    left: 917px;
}



