body {
   background-color: #c23e09;
}
h1 {
    color: white;
    font-size: 40px;

}

h2 {
    color: lightgray;
}

p {
    color: white;
}

a {
    color: #000031;
}

.head-container {

    margin-top: 400px;
    color: white;

}
.login-container {
    margin-top: 100px;
}

.register-container {
    margin-top: 200px;
}


.username {
    color: white;
}

.email {
    color: white;
}

.password{
    color: white;
}

.confirm {
    color: white;
}

.title {
    color: white;
}

.description {
     color: white;
 }

.category {
    color: white;
}

select#category {
    color: #000031;
    margin-left: 5px;
}

.btn{
    background: gray;
    color: white;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.52) 2px 2px 2px 2px;
}



