body {
    background: #c23e09;

}

h1 {
    color: white;
    margin-top: 85px;
}


.btn{

    background: gray;
    color: white;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.52) 2px 2px 2px 2px;


}



.create-dad-btn {
    margin-top: 40px;
}

.edit-btn {

    text-align: center;
    font-size: 10px;
    height: 21px;
    width: 53px;
}

.delete-btn {

    text-align: center;
    font-size: 10px;
    margin-left: 10px;
    height: 21px;
    width: 53px;
}


/*PROFILE IMAGE AND BIO CARD*/


.center
{
    height:100vh;
    width:100vh;
    margin-left: 250px;

}

/* End Non-Essential  */

.property-card {
    height: 34em;
    width: 14em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;

}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
    height:20em;
    width:20em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('/img/DadListerDad.png');
    background-size:cover;
    background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
    background-color: #FAFAFC;
    height:20em;
    width:20em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
}


/* Property Cards Hover States */

.property-card:hover .property-description
{
    height:10em;
    padding:0em 1em;
}
.property-card:hover .property-image
{
    height:25em;
}





/*ADS CARDS*/


.ad-cards-container {
    position: absolute;
    height: 270px;
    width: 600px;
    top: 400px;
    left: 780px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ads-card {
    /*display: flex;*/
    height: 280px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    /*margin-left: -50px;*/
    transition: 0.4s ease-out;
    position: relative;
    left: -57px;
}

.ads-card .title p {
    margin-top: 45px;
    font-size: 10px;
}

.ads-card:not(:first-child) {
    margin-left: -98px;
}

.ads-card:hover {
    transform: translateY(-40px);
    transition: 0.4s ease-out;
}

.ads-card:hover ~ .ads-card {
    position: relative;
    left: 100px;
    transition: 0.4s ease-out;
}

.title {
    color: #000031;
    font-weight: 300;
    position: relative;
    left: 0px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: darkgray;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}

.ads-card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #17141d;
    stroke-width: 2px;
}

.ads-card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}