body {
    background-image: linear-gradient(20deg, white  50%, #c23e09 50%);
    /*background-image: url("../img/DadLister.png");*/
}
h1 {
    color: white;
}

h2 {
    color: lightgray;
}

p {
    color: white;
}

a {
    color: #000031;
}
